source https://www.nuget.org/api/v2

nuget XPlot.GoogleCharts
nuget XPlot.Plotly
nuget FsLab
nuget FSharp.Data
nuget MathNet.Numerics
nuget MathNet.Numerics.FSharp
nuget System.Windows.Interactivity
nuget MahApps.Metro
nuget Expression.Blend.Sdk
nuget FSharp.ViewModule.Core
nuget FsXaml.Wpf

